<!DOCTYPE html>
<html>
    <head>
       <title> Chat Page</title>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js">
        </script>
       <link rel="stylesheet" href="/each1.css"/>
    </head>
    <body>
        <header>
    <div class="chat-header clearfix">
        <img src="/done.png" alt="" height="100px" width="200px"/>
        <ul>
   <li><a href="/home">HOME</a></li> 
    <li><a href="/download/?user1=<%= me %>&user2=<%= to %>">DOWNLOAD</a></li>
        </ul>
         <div class="chat-about">
          <div class="chat-with">Chat with <%= to %></div>
          
        </div>
    </div>   
            </header>
    <input type='hidden' value="<%= to %>" id="to"/>
    <input type='hidden' value="<%= me %>" id="mme"/>
    <input type='hidden' value="<%= roome %>" id="imme"/>
    <div id="first" class="first">
         <% for(var i=0; i<items.length; i++) { ir="two";%>
         <% if(items[i].from==me) ir="one"%>    
         <div class="msg" id='<%=ir%>'><span id='<%=ir%>'><%= items[i].from %></span><br/>
         <% if(items[i].msgtype=='text'){ %>
             <p id='<%=ir%>'><%= items[i].body %></p>     
         <% } %>             
         <% if(items[i].msgtype=='img'){ %>
             <img src='<%= items[i].body %>' height="180px" width="450px"/>
             <form action="/imgdownload" method="post">
             <input type="hidden" value="<%= me %>" name="user"/>
             <input type="hidden" value="<%= items[i].body %>" name="string"/>
               <input type=image src=/dnld3.png height="20px" width="20px" alt="Download"/>
             </form> 
        <% } %>
        <% if(ir=="one"){ %>
        <p><img src="/delvd.png" height="20px" width="20px"/>
        <a class="btn" href="/delete/?id=<%= items[i]._id%>&name=<%=to%>&type=each"><img src="/delete.jpg" height="20px" width="20px"/></a>
        <% } %>
        <% mydate= new Date(items[i].createdAt) %>
        <span><%= mydate.toLocaleString(); %></span>  
        </p>
        </div>
         <% } %>
        
          <div id="second">
               <div id="output">
                   
               </div>
               <div id="feedback"> 
               </div> 
          </div>
        <label id="file">
          <img src="/img.png" height="40px" width="40px"/>
            <input type="file" id="img" onchange='psych(event)' accept='image/*'/>
            </label>
        
          <div id="gt">
          <input type="text" id="message"/>
          </div>
          <img src="/send.png" height="40px" width="40px" id="send"/>
    </div>
     <script src="/chat.js"> </script>  
     
    </body>
</html>
